<!--
/**
 * Copyright © MageKey. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<div data-bind='
        afterRender: setModalElement,
        blockLoader: isLoading,
        css: {"mgk-adcpopup-block": true, "has-category": productList().length}
     '
     style="display: none">

    <div class="adcpopup-content">
        <div class="content-inner">
            <div class="content-cart">
                <ol data-bind="css: {'product-items': true, 'multi': isMultiple()}, foreach: { data: items(), as: 'item' }">
                    <!-- ko foreach: $parent.getRegion('cartItem') -->
                        <!-- ko template: {name: getTemplate(), data: item, as: 'item'} --><!-- /ko -->
                    <!-- /ko -->
                </ol>
            </div>
        </div>
    </div>
    <div class="adcpopup-summary">
        <div class="content-inner">
            <div class="shopping-cart">
                <h3 class="summary-title" data-bind="i18n: 'Shopping Cart'"></h3>
                <div class="summary-items" data-bind="foreach: { data: summaryItems(), as: 'item' }">
                    <!-- ko foreach: $parent.getRegion('summaryItem') -->
                        <!-- ko template: {name: getTemplate(), data: item, as: 'item'} --><!-- /ko -->
                    <!-- /ko -->
                </div>
            </div>
            <div class="shopping-actions">
                <!-- ko foreach: getRegion('summaryActions') -->
                    <!-- ko template: {name: getTemplate()} --><!-- /ko -->
                <!-- /ko -->
            </div>
        </div>
    </div>
    <!-- ko if: productList().length -->
    <div class="adcpopup-category">
        <div class="sub-title" data-bind="i18n: 'You may also be interested in'"></div>
        <ol class="product-items" data-bind="foreach: { data: productList(), as: 'item' }">
            <!-- ko foreach: $parent.getRegion('productItem') -->
                <!-- ko template: {name: getTemplate(), data: item, as: 'item'} --><!-- /ko -->
            <!-- /ko -->
        </ol>
    </div>
    <!-- /ko -->
</div>
