<?xml version="1.0"?>
<!--
/**
 * Copyright © MageKey. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_add_product_complete">
        <observer name="mgk_adcpopup_cart_added_product" instance="MageKey\AdcPopup\Observer\CartUpdated" />
    </event>
</config>
