// /**
//  * Copyright © MageKey. All rights reserved.
//  */

//
//  Variables
//  _____________________________________________

//  Base
@mgk-adcpopup__base__label__font-weight: @font-weight__semibold;
@mgk-adcpopup__base__sub-title__font-size: @h3__font-size;
@mgk-adcpopup__base__content__width: 55%;
@mgk-adcpopup__base__summary__width: 40%;

//  Cart
@mgk-adcpopup__cart__photo__width: 37%;
@mgk-adcpopup__cart__details__width: 60%;
@mgk-adcpopup__cart__name__font-size: @h2__font-size;
@mgk-adcpopup__cart__price__font-size: 22;

//  Multi Cart
@mgk-adcpopup__multi-cart__photo__width: 17%;
@mgk-adcpopup__multi-cart__details__width: 80%;
@mgk-adcpopup__multi-cart__name__font-size: 16;
@mgk-adcpopup__multi-cart__price__font-size: 14;

//  Category
@mgk-adcpopup__category__item__width: 24%;
@mgk-adcpopup__category__item__offset: 1.25%;
@mgk-adcpopup__category__name__font-size: 13;
@mgk-adcpopup__category__sku__font-size: 12;
@mgk-adcpopup__category__price__font-size: 13;

//  Colors
@mgk-adcpopup__box1__border-color: @color-gray-light5;
@mgk-adcpopup__box2__border-color: @color-gray-light1;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .mgk-adcpopup {
        &-block {
            padding: 0;
            margin: 0;

            .adcpopup {
                &-content {
                    width: @mgk-adcpopup__base__content__width;
                    float: left;
                    border-right: 1px solid @mgk-adcpopup__box1__border-color;

                    .content {
                        &-inner {
                            padding-right: 1rem;
                        }
                        &-cart {
                            list-style: none;
                            padding: 0;
                            margin: 0;

                            .product-item {
                                overflow: hidden;
                                margin-bottom: 2rem;

                                &-photo {
                                    float: left;
                                    display: block;
                                    width: @mgk-adcpopup__cart__photo__width;
                                    padding: 0;
                                    margin: 0;
                                    text-align: center;
                                }
                                &-details {
                                    float: right;
                                    width: @mgk-adcpopup__cart__details__width;
                                    padding: 0;
                                    margin: 0;
                                }
                                &-name {
                                    .lib-font-size(@mgk-adcpopup__cart__name__font-size);
                                }
                                &-pricing {
                                    overflow: hidden;
                                    margin-bottom: 1rem;
                                    padding-bottom: 1rem;
                                    border-bottom: 1px solid @mgk-adcpopup__box1__border-color;

                                    .price-container {
                                        float: left;
                                    }
                                    .price {
                                        .lib-font-size(@mgk-adcpopup__cart__price__font-size);
                                    }
                                }
                                &-sku {
                                    float: right;

                                    .label {
                                        font-weight: @mgk-adcpopup__base__label__font-weight;
                                    }
                                }
                                .options {
                                    .list {
                                        display: table;
                                        border-collapse: collapse;

                                        .option-item {
                                            display: table-row;

                                            .label,
                                            .values {
                                                display: table-cell;
                                                text-align: left;
                                                padding: 1rem;
                                                border: 1px solid @mgk-adcpopup__box2__border-color;
                                            }
                                            .label {
                                                font-weight: @mgk-adcpopup__base__label__font-weight;
                                            }
                                        }
                                    }
                                }
                                .details {
                                    &-qty {
                                        font-weight: @mgk-adcpopup__base__label__font-weight;
                                        margin-top: 2rem;

                                        span {
                                            display: inline-block;
                                            border: 1px solid @mgk-adcpopup__box1__border-color;
                                            padding: 0.8rem 1.4rem;
                                            margin-left: 2rem;
                                        }
                                    }
                                }
                            }

                            .multi {
                                .product-item {
                                    &:last-child {
                                        border-bottom: none;
                                    }
                                    &-photo {
                                        width: @mgk-adcpopup__multi-cart__photo__width;
                                    }
                                    &-details {
                                        width: @mgk-adcpopup__multi-cart__details__width;
                                    }
                                    &-name {
                                        .lib-font-size(@mgk-adcpopup__multi-cart__name__font-size);
                                    }
                                    &-pricing {
                                        .price {
                                            .lib-font-size(@mgk-adcpopup__multi-cart__price__font-size);
                                        }
                                    }
                                    .details {
                                        &-qty {
                                            margin-top: 1rem;

                                            span {
                                                padding: 0.5rem 1.2rem;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &-category {
                            overflow: hidden;
                            font-size: 0;

                            .sub-title {
                                font-size: @mgk-adcpopup__base__sub-title__font-size;
                                font-weight: @mgk-adcpopup__base__label__font-weight;
                            }
                            .product-item {
                                display: inline-block;
                                width: @mgk-adcpopup__category__item__width;
                                padding: 0;
                                margin: @mgk-adcpopup__category__item__offset @mgk-adcpopup__category__item__offset 0 0;

                                &:nth-child(4n+4) {
                                    margin-right: 0;
                                }
                                &-info {
                                    border: 1px solid @mgk-adcpopup__box1__border-color;
                                    width: auto;
                                }
                                &-photo {
                                    text-align: center;
                                    display: block;
                                    border-bottom: 1px solid @mgk-adcpopup__box1__border-color;
                                }
                                &-details {
                                    padding: 0.5rem;
                                }
                                &-name {
                                    .lib-font-size(@mgk-adcpopup__category__name__font-size);
                                    margin: 0;
                                }
                                &-sku {
                                    .lib-font-size(@mgk-adcpopup__category__sku__font-size);
                                    text-transform: uppercase;
                                    font-style: italic;
                                }
                                &-pricing {
                                    margin-top: 0.5rem;
                                    overflow: hidden;

                                    .price-container {
                                        float: left;
                                    }
                                    .price {
                                        .lib-font-size(@mgk-adcpopup__category__price__font-size);
                                        font-weight: @mgk-adcpopup__base__label__font-weight;
                                    }
                                    .buy {
                                        float: right;
                                    }
                                }
                            }
                        }
                    }
                }
                &-summary {
                    width: @mgk-adcpopup__base__summary__width;
                    float: right;

                    .shopping {
                        &-continue {
                            text-align: right;
                        }
                        &-cart {
                            margin-top: 13%;

                            .summary {
                                &-title {
                                    text-transform: uppercase;
                                    margin-bottom: 1rem;
                                    padding: 1rem;
                                }
                                &-items {
                                    display: table;
                                }
                                &-item {
                                    display: table-row;

                                    .label,
                                    .values {
                                        display: table-cell;
                                        padding: 1rem;
                                    }
                                    .label {
                                        font-weight: @mgk-adcpopup__base__label__font-weight;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.has-category {
                .adcpopup {
                    &-summary {
                        .shopping {
                            &-cart {
                                margin-top: 30%;
                            }
                        }
                    }
                }
            }
        }
    }
}
